include README.md
include CHANGES.rst
include LICENSE.md

include setup.cfg
include pyproject.toml

recursive-include lib/stsci/tools/tests *
recursive-include doc *

prune build
prune docs/build
prune docs/api

global-exclude *.pyc *.o
