[metadata]
name = stsci.tools
version = 3.1
author = STScI
author-email = help@stsci.edu
home-page = http://www.stsci.edu/resources/software_hardware/stsci_python
classifier =
    Intended Audience :: Science/Research
    License :: OSI Approved :: BSD License
    Operating System :: OS Independent
    Programming Language :: Python
    Topic :: Scientific/Engineering :: Astronomy
    Topic :: Software Development :: Libraries :: Python Modules
requires-python = >=2.5
requires-dist =
    pyfits (>=2.4.0)
    numpy (>=1.5.1)

[files]
packages_root = lib
packages =
    stsci
    stsci.tools
    stsci.tools.tests
package_data =
    stsci.tools.tests = *.fits
scripts =
    scripts/convertwaiveredfits
    scripts/fitsdiff
    scripts/stscidocs

[sdist]
pre-hook.svn-info = stsci.distutils.hooks.svn_info_pre_hook
post-hook.svn-info = stsci.distutils.hooks.svn_info_post_hook

[build_py]
#pre-hook.svn-info = stsci.distutils.hooks.svn_info_pre_hook
#post-hook.svn-info = stsci.distutils.hooks.svn_info_post_hook

[nosetests]
exclude = .*(testutil|tester)
